* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: sticky;
    z-index: 9100;
    top: 0px;
    background-color: white;
}

/* Dividing the header into 3 sections */
section {
    /* box-sizing: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Just a dummy */
.empty {
    width: 100%;
    /* background-color: black; */
}

/* Name for the company in the header */
.HeaderName {
    display: flex;
    width: 100%;
    text-align: center;
    color: green;
    font-size: 2rem;
    padding: 0.7rem;
}

/* Box for login/cart */
.Login-Cart {
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    justify-content: right;        
    align-items: center;
    
    /* align-self: flex-end; */
}

/* Box for login/cart */
section:nth-child(3) {
    /* background-color: black; */
}

/* Login button */
.login-button {
    padding: 0.5rem;
    width: 5rem;
    height: 2rem;
    justify-content: right;
    align-items: center;    
}

/* Button for Cart */
.cart-click {
    width: 2rem;
}

nav {
    background-color: green;
    padding: 0.7rem;
    text-decoration: none;
   
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}

/* turns the text lightgrey when hovered */
a:hover {
    color: lightgray;
}

main {    
    padding: 1rem;
}

footer {
    position: sticky; /* Sätter fast footern i botten */
    z-index: 100;
    bottom: 0;    
    flex-direction: row;
    background-color: green;
    padding: 1rem;
    color: white;
    text-align: center; /* Centrerar texten i footern */
}

textarea {
    resize: none;
}


