* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Dividing the header into 3 sections */
section {
    /* box-sizing: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Name for the company in the header */
.HeaderName {
    display: flex;
    text-align: center;
    color: green;
    font-size: 2rem;
    padding: 0.7rem;
}

/* Box for login/cart */
.Login-Cart {
    display: flex;
    /* flex-direction: row; */
    justify-content: right;        
    align-items: center;
}

/* Login button */
.login-button {
    padding: 0.5rem;
    width: 5rem;
    height: 2rem;
    justify-content: right;
    align-items: center;    
}

/* Button for Cart */
.cart-click {
    width: 2rem;
}

nav {
    background-color: green;
    padding: 0.7rem;
    text-decoration: none;
   
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}

a:hover {
    color: lightgray;
}