* {
    box-sizing: border-box;
    padding: 0;
}

.HeaderName {
    text-align: center;
    color: green;
    font-size: larger;
    padding: 0.7rem;
}

nav {
    background-color: green;
    padding: 0.7rem;
}